@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-VariableFont_opsz\,wght.woff2");
}

:root {
  --bg-dark: oklch(0.1 0 20);
  --bg: oklch(0.15 0 20);
  --bg-light: oklch(0.2 0 20);
  --text: oklch(0.96 0 20);
  --text-muted: oklch(0.76 0 20);
  --highlight: oklch(0.5 0 20);
  --border: oklch(0.4 0 20);
  --border-muted: oklch(0.3 0 20);
  --primary: oklch(0.76 0.2 20);
  --secondary: oklch(0.76 0.2 200);
  --danger: oklch(0.7 0.2 30);
  --warning: oklch(0.7 0.2 100);
  --success: oklch(0.7 0.2 160);
  --info: oklch(0.7 0.2 260);
  font-size: clamp(14px, 1vw, 21px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text);
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
  width: fit-content;
}

body {
  background-color: var(--bg-dark);
}

i {
  pointer-events: none;
}

main {
  width: 100%;

  .musicPlayerContainer {
    height: 100vh;
    width: 100%;
    margin-inline: auto;
    background-image: url("./covers/default-album-art.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    .container {
      padding: 1rem 3rem;
      backdrop-filter: blur(10px);
      background-color: rgba(218, 41, 28, 0.3);
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 10% 75% 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header header"
        "cover playlist"
        "controls controls";
    }
  }
}

.playerHeader {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-size: clamp(1.7rem, 2.3rem, 2.5rem);
    color: var(--danger);
    text-shadow: 2px 2px 1px var(--bg-dark);
    font-weight: 700;
  }
}

.playerCover {
  grid-area: cover;
  width: 100%;
  height: 100%;
  padding-block: 1rem;
  .coverContainer {
    height: 100%;
    min-height: 650px;

    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-inline-end: 100px;
    box-shadow: 0 20px 60px oklch(0% 0 0 / 0.6);
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.playerPLaylist {
  grid-area: playlist;
  width: 100%;
  padding-block: 1rem;

  .playlistContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 1fr;

    .playlistTop {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
      padding-bottom: 10px;
    }

    .playlistBottom {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
      -webkit-mask-image: linear-gradient(
        to bottom,
        transparent,
        black 0%,
        black 90%,
        transparent
      );

      mask-image: linear-gradient(
        to bottom,
        transparent,
        black 0%,
        black 90%,
        transparent
      );
    }
  }
}

.playlistTop {
  .currentPlayDetail {
    font-size: clamp(1.1rem, 1.3rem, 1.5rem);
    font-weight: 700;
    text-shadow: 2px 2px 5px var(--bg-dark);
  }

  .currentSong {
    color: var(--danger);
    text-shadow: 2px 2px 1px var(--bg-dark);
  }

  .totalSongs {
    color: var(--text);
    opacity: 0.9;
    margin-top: 8px;
    text-shadow: 2px 2px 5px var(--bg-dark);
    font-size: clamp(0.8rem, 1rem, 1.2rem);
    font-weight: 700;
  }
}

.playlistBottom {
  padding-block: 10px;

  .playlistItem {
    border-top: 2px solid var(--text-muted);
    width: 98%;
    padding: 15px;
    font-size: clamp(0.8rem, 1rem, 1.3rem);
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    font-weight: 700;
    transition: background-color linear 0.5s, border-top linear 0.3s;
    cursor: pointer;
    &:last-child {
      border-bottom: 1px solid var(--text-muted);
    }

    .count, .name, .duration {
      pointer-events: none;
    }

    .count {
      color: var(--danger);
    }
    
    .name {
      margin-left: 30px;
      width: fit-content;
      margin-right: auto;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .5);
      border-top: 2px solid var(--text);
    }
  }
}

.playerControl {
  width: 100%;
  height: 100%;
  grid-area: controls;
  .musicControl {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    .playPauseGroup {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .musicStatus {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      padding-inline: 20px;
      padding-top: 10px;
    }
    .volumeControl {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.playPauseGroup {
  .control-btn {
    font-size: 35px;
    text-shadow: 3px 3px 1px var(--bg-dark);
    transition: all 0.1s linear;
    -webkit-text-stroke: 1px var(--bg-dark);
    &:active {
      transform: scale(0.9);
      text-shadow: 0px 0px 0px var(--bg-dark);
    }
  }

  .play {
    text-shadow: 5px 5px 1px var(--bg-dark);
    font-size: 70px;
    -webkit-text-stroke: 5px var(--text);
  }
}

.musicStatus {
  .musicStatusTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 1.3rem, 1.5rem);
    font-weight: 700;
    text-shadow: 2px 2px 1px var(--bg-dark);

    .songName {
      color: var(--danger);
    }

    .iconGroup {
      display: flex;
      gap: 15px;
    }
  }

  .musicStatusMiddle {
    box-shadow: 3px 3px 1px var(--bg-dark);
    width: 100%;
  }

  .musicStatusBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: clamp(0.9rem, 1.1rem, 1.3rem);
  }
}

.iconGroup {
  button {
    transition: all 0.1s linear;
    color: var(--text);
    &:active {
      transform: scale(0.9);
      text-shadow: 0px 0px 0px var(--bg-dark);
    }
    i {
      color: inherit;
    }
  }
}

.musicStatusMiddle {
  .songBar {
    height: 8px;
    background-color: var(--text-muted);
    cursor: pointer;
    overflow: hidden;

    .songProgress {
      background-color: var(--danger);
      height: 100%;
      width: 0%;
      cursor: pointer;
    }
  }
}

.musicStatusBottom {
  text-shadow: 1px 1px 1px var(--bg-dark), -1px -1px 5px var(--bg-dark);
  opacity: 0.9;
  .artistName {
    color: var(--text);
    font-weight: 700;
  }

  .songDuration {
    color: var(--text);
    font-weight: 700;
  }
}

.volumeControl {
  .volumeBtn {
    text-shadow: 3px 3px 1px var(--bg-dark);
    transition: all linear 0.1s;
    &:active {
      transform: scale(0.9);
      text-shadow: 0px 0px 0px var(--bg-dark);
    }
  }
  .volumeDown {
    font-size: 30px;
  }

  .volumeUp {
    font-size: 35px;
  }

  .volumeBar {
    height: 6px;
    box-shadow: 2px 2px 1px var(--bg-dark);
    background-color: var(--text-muted);
    overflow: hidden;
    width: 55%;
    cursor: pointer;
    
    .volumeLevel {
      width: 0%;
      background-color: var(--danger);
      height: 100%;
      cursor: pointer;
    }
  }
}

#audio {
  display: none;
}
.active {
  transition: all .1s linear;
  i {
    color: var(--danger);
  }
}